{sub_dirs, ["rel"]}.

{cover_enabled, true}.
{require_otp_vsn, "R15|R16"}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
        {parse_trans, ".*",
         {git, "https://github.com/uwiger/parse_trans.git", {branch, "master"}}},
        {merl, ".*",
        	{git, "https://github.com/richarl/merl.git", {branch, "master"}}}
        ]}.

